@using OnlineInspection.WebUI.Models
    
@model IEnumerable<ItemOrderListViewModel>

@{
    ViewBag.Title = "Item Order";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Item Order</h2>

<table class="table table-striped table-hover table-bordered col-md-10" style="margin:auto !important">
    <tr>
        <th>
            Order ID
        </th>
        <th>
            Product ID
        </th>
        <th>
            Image (pro)
        </th>
        <th>
            Product Code (pro)
        </th>
        <th>
            Description (pro)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td style="color:red">
            @Html.ActionLink(item.itemOrder.OrderId.ToString(), "ItemOrder", "Order", new { id = item.itemOrder.OrderId }, null)         
        </td>
        <td>
            @Html.ActionLink(item.itemOrder.ProductId.ToString(), "ItemOrder", "Order", new { id = item.itemOrder.OrderId }, null)
        </td>
        <td>
            @Html.ActionLink(item.product.Image, "ItemOrder", "Order", new { id = item.itemOrder.OrderId }, null)
        </td>
        <td>
            @Html.ActionLink(item.product.ProductCode, "ItemOrder", "Order", new { id = item.itemOrder.OrderId }, null)
        </td>
        <td>
            @Html.ActionLink(item.product.Description, "ItemOrder", "Order", new { id = item.itemOrder.OrderId }, null)
        </td>
    </tr>
    }
</table>

@Html.ActionLink("Back to Index","Index")


