@using OnlineInspection.WebUI.Models

@model IEnumerable<OrderListViewModel>

@{
    ViewBag.Title = "Ordering List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="text-align:center">Ordering List @Model.Count()</h2>

@using (Html.BeginForm("AddToCart", "Cart"))
{
    <table class="table table-striped table-hover col-md-10 table-bordered" style="margin:auto !important">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Code</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Supplier name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Product.ProductId</td>
                    <td>@item.Product.ProductCode</td>
                    <td>@item.Product.Description</td>
                    <td>@item.Product.Price.ToString("C", Cultures.USA)</td>
                    <td>
                        <input type="number" data-id="@item.Product.ProductId" name="qty" />
                    </td>
                    <td>@item.Supplier.CompanyName</td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts {
    <script type="text/javascript">
        (function () {

            $(function () {
                // quando a pagina termina de carregar
                $("input[name='qty']").on("blur", updateOrder);
            });

            function updateOrder() {
                const request = readLine(this);
                sendQuantity(request).done(updateCart);
            }


            function readLine(input) {
               // console.log(input);
                return  {
                    qty: $(input).val(),
                    productId: $(input).data("id")
                };
            }

            function sendQuantity(request) {
                return $.ajax({
                    url: '/cart/addToCart',
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(request)
                });
            }

            function updateCart(data) {
                $("#cart-quantity").text(data.Items);
                $("#cart-total").text(data.Total);
            }
        })();


    </script>
}
