@using OnlineInspection.WebUI.Models
    
@model  IEnumerable<ItemOrderListViewModel>

@{
    ViewBag.Title = "Order Detail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="text-align:center">Order detail</h2>

<div class="form-horizontal col-md-8" style="margin:auto">

    <table class="table table-striped table-hover table-bordered col-md-10" style="margin:auto !important">
        <tr>
            <th>
                Order ID
            </th>
            <th>
                Product ID
            </th>
            <th>
                Image (pro)
            </th>
            <th>
                Product Code (pro)
            </th>
            <th>
                Description (pro)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="color:red; vertical-align:middle">
                    @Html.ActionLink(item.itemOrder.OrderId.ToString(), "ProblemItemList", "Admin", new { orderId = item.itemOrder.OrderId, productId = item.product.ProductId }, null)
                </td>
                <td style="vertical-align:middle">
                    @Html.ActionLink(item.itemOrder.ProductId.ToString(), "ProblemItemList", "Admin", new { id = item.itemOrder.OrderId, productId = item.product.ProductId }, null)
                </td>
                <td>
                    <img src="@Url.Content("~/IMG/" + item.product.Image)" height="250" width="250" />
                </td>
                <td style="vertical-align:middle">
                    @Html.ActionLink(item.product.ProductCode, "ProblemItemList", "Admin", new { id = item.itemOrder.OrderId, productId = item.product.ProductId }, null)
                </td>
                <td style="vertical-align:middle">
                    @Html.ActionLink(item.product.Description, "ProblemItemList", "Admin", new { id = item.itemOrder.OrderId, productId = item.product.ProductId }, null)
                </td>
            </tr>
        }
    </table>
</div>

<br />

<div class="form-horizontal col-md-8" style="margin:auto">

    @Html.ActionLink("Back to Order List", "OrderList", "Admin")
</div>
   


