@using OnlineInspection.WebUI.Models

@model IEnumerable<OrderListViewModel>

@{
    ViewBag.Title = "Order List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="text-align:center">Order List</h2>

<div class="form-horizontal col-md-10" style="margin:auto">


    <table class="table table-striped table-hover table-bordered col-md-10" style="margin:auto !important">
        <tr>           
            <th>
                Company Name
            </th>
            <th>
                So Marcas reference
            </th>
            <th>
                China Invoice
            </th>
            <th>
                Total 
            </th>
            <th>
                Delivery date
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>               
                <td style="color:red">
                    @Html.ActionLink(item.Supplier.CompanyName, "ItemOrder", "Admin", new { id = item.Order.OrderId }, null)
                </td>
                <td>
                    @Html.ActionLink(item.Order.SMReference, "ItemOrder", "Admin", new { id = item.Order.OrderId }, null)
                </td>

                <td>
                    @Html.ActionLink(item.Order.ChinaInvoice, "ItemOrder", "Admin", new { id = item.Order.OrderId }, null)
                </td>
                <td>
                    @item.Order.TotalPrice.ToString("C", Cultures.USA)
                </td>
                <td>
                    @item.Order.DateDelivery.ToString("dd/MM/yyyy")
                </td>
            </tr>
        }
    </table>
</div>

<div class="card-footer  ">
    @Html.ActionLink("Add a new order", "CreateOrder", "Admin", null, new { @class = "btn btn-outline-dark" })  
</div>