@using OnlineInspection.WebUI.Models

@model IEnumerable<ItemOrderListViewModel>

@{
    ViewBag.Title = "Product's problems";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2 style="text-align:center">Attention to details below</h2>


<div class="container">
    <span class="float-lg-right" id="CreateButton">      
        @Html.ActionLink("Add a new detail", "AddNewInspectionDetail", "Admin", null , new { @class = "btn btn-outline-dark" })
    </span>



    <table class="table table-striped table-hover table-bordered col-md-10" style="margin:auto !important">
        <thead>
            <tr>
                <th> Order ID</th>
                <th> Product ID </th>
                <th> product code </th>
                <th> Description problem </th>
                <th> Picture problem </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                int o = item.itemOrder.OrderId;
                int p = item.itemOrder.ProductId;
                @Html.HiddenFor(modelitem => item.itemOrder.OrderId)
                @Html.HiddenFor(modelitem => item.itemOrder.ProductId)
                <tr>
                    <td id="OrderId">
                        @Html.DisplayFor(modelItem => item.itemOrder.OrderId)
                    </td>
                    <td id="ProductId">
                        @Html.DisplayFor(modelItem => item.product.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.product.ProductCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.itemOrder.DescriptionProblem)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.itemOrder.PictureProblem)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <br />

    <div class="form-horizontal col-md-4" style="margin:auto">
        @Html.ActionLink("Back to Order list", "OrderList", "Admin")
    </div>

    <br />

</div>


@section scripts {
    <script src="~/Scripts/OrderForm.js"></script>
}


